[Desktop Entry]
Name=FreerdpGUI
Name[ru]=FreerdpGUI
Comment=Graphical application for running xfreerdp
Type=Application
NoDisplay=false
Path=/opt/freerdpgui
Exec=/opt/freerdpgui/freerdpgui
Icon=freerdpgui-icon
Hidden=false
Terminal=false
StartupNotify=false
MimeType=application/x-freerdpgui